@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Cutive+Mono|Bitter|Quicksand|Overpass+Mono|Lobster+Two|');



body, h3{
    background-color: #F7F7F7; 
    font-family: 'Cutive Mono', monospace;;
}

html{
    height:100%
}
#footer{
    background-color: #FFF1F1;
    position: fixed;
    bottom: 0;
    padding: 1%;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
    height:auto;
}

#footer, #header, #menu{
    font-family: 'Cutive Mono', monospace;
}

#title{
    font-family: 'Cutive Mono', monospace;
    font-family: 'Lobster Two', cursive;
    padding:0%;
    margin:0%;
}
#header{
    position:fixed;
    top: 0;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
    background-color: #EDF8F7 ;
}

#menu{
}

#menu_small, #menu_button{
    background-color: #EDF8F7;
    padding: 1%;
}

#menu_small{
    width:100%; 
}


#home-content{
    height:auto;
    margin-bottom: 80pt;
    margin-left:7%;
    margin-right: 7%;
    padding: 0;
    padding-top: 90pt;
    font-size: 11pt;
}


#menu_large a{
    margin: 3%;
}

#menu_large{
    padding-bottom: 1%;
}

a{
    text-decoration:none;
    border-bottom: dotted 1pt;
    padding-bottom: .2pt;
}

#menu_large a, #menu_small a{
    text-decoration: none;
    border-bottom: none;
}

a:hover{
    font-weight: bold;
}

#image_home{
    padding: 15pt;
}
#menu_large a:hover{
    font-weight: bold;
    border-bottom: dotted 2pt;
    padding-bottom: .2pt;
}

#curr_menu{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: dotted;
}

#menu_small a:hover, #menu_small .curr_menu{
    font-weight: bold;
}

p.title_content{
    font-weight: bold;
}

.year_output ul li, .act_type ul li, {
    margin-bottom:3%;
}